body{
    background: url(https://cdn.wallpapersafari.com/12/14/RYr5wp.png);
    background-size: cover;
    background-repeat: no-repeat;
}




.MuiGrid-container{
    justify-content: space-around;
}

.MuiGrid-root video{
    padding-left: 10px!important;
    padding-right: 10px!important;
    padding-bottom: 10px!important;
}

.MuiGrid-root p{
    padding-left: 10px!important;
    padding-top: 10px!important;
    color: cornflowerblue;
}